.navbar-inverse {
	background-color: none;
	font-color: white;
}

img {
	height: 175px;
	width: 160px;
}

.resume {
	height: 100%;
	width: 100%;
}

#brad {
	padding: 15px;
	height: 250px;
	width: 250px;
		}
.underline {
	border-bottom: 1px solid black
	}

.thumbnail {
	padding-top: 10px;
	margin-top: 10px;
	background-color: white;
		}
footer {
	font-size: 12px;
	padding-top: 10px;
	border-top: solid 1px black;
}

section {
	padding: 10px;
}

#scj-logo {
	padding-top: 15px;
}

#form {
	padding-bottom: 20px;
}

