.navbar-inverse {
	background-color: none;
	font-color: white;
}

img {
	height: 150px;
	width: 160px;
}

.resume {
	height: 100%;
	width: 100%;
}

#brad {
	padding: 15px;
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
		}
.underline {
	border-bottom: 1px solid black
	}

.thumbnail {
	padding-top: 10px;
	margin-top: 10px;
	background-color: white;
		}
footer {
	font-size: 12px;
	padding-top: 10px;
	border-top: solid 1px black;
	margin-top: 20px;
}

section {
	padding: 10px;
}

#scj-logo {
	padding-top: 15px;
}

#form {
	padding-bottom: 20px;
}
.skills img{
	width: 320px;
	height: 200px;
}

.skills h4 {
	text-align: center
}

.foliopics table {
	height: 300px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.foliopic img {
	height: 300px;
	width: 445px;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
