body {
  color: black;
  font-family: sans-serif;
  background-color: white;
  background-image: url()
}

#intro {
	border: solid 2px;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #CCCCCC;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}

a {
	color: blue;
}